* {
    font-size: 50px;
}

p {
   background-color: aqua;
}

h1{
    background-color: blue;
    color: aliceblue;
    font-size: 30px;
}

#btn {
    background-color: aqua;
    color: bisque;
}

.anchor{
    text-decoration: overline;
}

li b {
    text-decoration: underline green;
}
input [type="text"]
{
    background-color: aquamarine;
}

a:link {
color: pink;
}

a:visited{
    color: blue;
}
a:hover{
    color: chartreuse;
}